/* Inserta tu codigo aqui */



.gris{
	background: 
}
	


.profesor4{
	background-image: url("../img/profesor_4.jpg");
}
.profesor14{
	background-image: url("../img/profesor_14.jpg");
}
.profesor1{
	background-image: url("../img/profesor_1.jpg");

}

.profesor11{
	background-image: url("../img/profesor_11.jpg");
}
.profesor12{
	background-image: url("../img/profesor_12.jpg");
}
.profesor9{
	background-image: url("../img/profesor_9.jpg");
}	
.profesor15{
	background-image: url("../img/profesor_15.jpg");

}
